.bg-white-pc{
  background-color: #fefefe;
}

.bg-light-gray-pc{
  background-color:#f7f7f7;
}

@media (max-width: 1000px) {
  .fixedbutton {
    display: none;
  }
  .nopad {
    padding-right: 0;
  }
}

.nopad2 {
  padding-top: 0px;
  padding-left: 0%;
}

.fixedbutton {
  position: absolute;
  top: 23%;
  right: 3vw;
  z-index: 100;
}

/* justified gallery */
.justified-gallery > a > .jg-caption,
.justified-gallery > div > .jg-caption,
.justified-gallery > figure > .jg-caption {
  padding: 7px 15px;
  opacity: 0;
  display: initial !important;
  bottom: 0;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
}
.caption.caption-visible {
  opacity: 1;
  bottom: 0 !important;
}

.box-style-7:hover i {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.hover-7:hover a {
  opacity: 0;
  transition: opacity 0.2s ease;
}
.hover-7:hover p span {
  opacity: 0;
  transition: opacity 0.2s ease;
}
@media (min-width: 992px) {
  .hiddenOnPc {
    display: none;
  }
}

@media (max-width: 991px) {
  .center-logo {
    left: 0;
    position: relative;
    max-width: 100%;
    margin: 0;
    top: 0;
    transform: none;
    padding: 19px 15px 26px 0;
  }
  header a.logo img {
    max-height: 25px;
  }
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl,
  .top-header-area > .container-lg,
  .top-header-area > .container-md,
  .top-header-area > .container-sm,
  .top-header-area > .container-xl,
  .top-header-area > .container-xxl {
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
  }

  nav.menu-logo-center .accordion-menu,
  header nav.menu-logo-center .accordion-menu {
    padding: 19px 0 26px 15px;
  }

  .hiddenOnPc {
    display: flex;
  }

  .hiddenOnMobile {
    display: none;
  }
  

  .navbar-nav > li.dropdown > .fas {
    right: 0;
    display: none;
  }
  .last-paragraph-no-margin p:last-of-type {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .no-padding-bottom-mobile {
    padding-bottom: 0;
  }
  .padding-bottom-mobile{
    padding-bottom: 10px;
  }
  .padding-bottom-mobile-2{
    padding-left: 5%;
    padding-right: 5%;
  }
  .padding-lr-mobile-pourcent{
    height: 100% !important;
  }
  .mobile-lr-pad {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn.btn-medium {
    font-size: 10px;
  }
  .h5-custom {
    font-size: 17px;
  }

  .bg-white-mobile {
    background-color: #fefefe;
  }
  .bg-light-gray-mobile{
    background-color:#f7f7f7;
  }
  .text-medium {
    font-size: 15px;
    line-height: 23px;
  }
  .font-bigger-mobile {
    font-size: 22px;
  }
  .mobile-r {
    padding-right: 30px;
  }  
  .mobile-l {
    padding-left: 30px;
  }
}






